<div class="content">
  <%= form_with(url: posts_path, local: true) do |f| %>
    <div class="field">
      <label>Name</label>
      <%= f.text_field :name%>
    </div>
    <div class="field">
      <label>Title</label>
      <%= f.text_field :title%>
    </div>
    <div class="field">
      <label>image</label>
      <%= f.file_field :image%>
    </div>
    <div class="field">
      <label>Locate</label>
      <%= f.text_field :locate%>
    </div>
    <div class="field">
      <label>URL</label>
      <%= f.text_field :url%>
    </div>
    <div class="field">
      <label>Content</label>
      <%= f.text_field :content%>
    </div>
    <%= f.submit "SENT"%>
  <% end %>
</div>